.app {
  font-family: "Roboto", sans-serif;
  max-width: 900px;
  margin: 100px auto;
  text-align: center;
}

.form-control::-webkit-input-placeholder {
  color: lightgray;
}

h2 {
  color: #312E5A;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  font-size: 15px;
  margin: 20px 0;
}

.checkbox-container>span {
  display: flex;
  margin-right: 25px;
}

.checkbox-container>span:nth-child(1) {
  font-weight: 600;
}

/* Styling Checkbox Starts */
.checkbox-label {
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
  height: 14px;
  width: 14px;
  clear: both;
  top: -6px;
  left: -15px;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border-radius: 2px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid #2BB031;
}


.checkbox-label input:checked~.checkbox-custom {
  background-color: #2BB031;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 2px solid #2BB031;
}


.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: "";
  height: 0px;
  width: 0px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked~.checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 2px;
  top: -1px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

/* Styling Dynamic Tags Starts */
.tag-container {
  width: 80%;
  margin: 20px auto;
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  position: relative;
  border: 1px solid gray;
  font-size: 14px;
  padding: 5px 30px 5px 15px;
  margin: 0 5px;
  border-radius: 20px;
  pointer-events: none;
  margin-bottom: 15px;
}

.tag:before,
.tag:after {
  position: absolute;
  top: 11px;
  right: 12px;
  content: ' ';
  height: 10px;
  width: 2px;
  background-color: #333;
  pointer-events: auto;
  cursor: pointer;
}

.tag:before {
  transform: rotate(45deg);
}

.tag:after {
  transform: rotate(-45deg);
}

button {
  background-color: #2BB031;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  outline: 0;
  transition: box-shadow 0.3s ease-in-out;
}

button:active,
button:hover,
button:focus {
  outline: 0;
}

button:hover {
  box-shadow: 0 5px 15px 2px rgba(51, 51, 51, 0.1);
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.card {
  border: 1px solid #F7F8FC;
  margin: 40px 0;
  min-height: 400px;
}

.card-cost {
  display: flex;
  justify-content: center;
  background-color: #F7F8FC;
  padding: 50px 0;
}

.card-cost> :first-child {
  border-right: 1px solid lightgray;
}

.card-cost>div {
  padding: 0 40px;
}

.sub-text {
  color: #312E5A;
  margin-bottom: 10px;
}

.main-text {
  color: #312E5A;
  font-size: 24px;
  font-weight: 650;
  margin-bottom: 5px;
}

.small-text {
  color: #312E5A;
  font-size: 12px;
}

.contact-form {
  margin: 40px 0;
  min-height: 400px;
  display: flex;
  justify-content: center;
  background-color: #F7F8FC;
  padding: 50px;
  text-align: left;
}

.slider-container {
  padding: 40px;
}

#message-slider .slider-selection {
  background: #2BB031;
}

#message-slider .slider-handle {
  background: #312E5A;
}

.slider.slider-horizontal {
  width: 100%;
}

.slider-tick {
  height: 16px;
  width: 16px;
  top: 2px;
  background: white;
  border: .5px solid lightgray;
  box-shadow: none;
}

.slider-tick.in-selection {
  background: #312E5A;
  border: none
}

.slider.slider-horizontal .slider-tick-label-container {
  margin-top: 40px;
  color: #2BB031;
  font-size: 14px;
}

/* .slider.slider-horizontal .slider-tick-container div:nth-of-type(1) {
  left: 10% !important
}
.slider.slider-horizontal .slider-tick-container div:nth-of-type(2) {
  left: 35% !important
}
.slider.slider-horizontal .slider-tick-container div:nth-of-type(3) {
  left: 63% !important
}
.slider.slider-horizontal .slider-tick-container div:nth-of-type(4) {
  left: 90% !important
} */